/* テーブル全体の文字色を白に */
table {
    color: black;
}

/* ステータスごとの色分け */
.stat.yellow {
    color: yellow;
}

.stat.orange {
    color: orange;
}

.stat.red {
    color: red;
}

.stat.fuchsia {
    color: fuchsia;
}
